*, *::before, *::after {
    box-sizing: border-box;
}
// Global Settings
body {
    margin: 0;
}
section {
    margin-top: 110px;
}
$button-color: #f9ca24;
$gold-color: #f1c40f;
$font-nav-buttons: 'Inconsolata', monospace;
$font-subtitle: 'Kalam', cursive;
$font-text: 'Maven Pro', sans-serif;
$font-head: 'Paytone One', sans-serif;
$font-logo: 'Satisfy', cursive;
$font-title: 'Signika', sans-serif;

//Navigation Bar
.header-image {
    background-image: url("https://i.postimg.cc/LXgk1GXH/pexels-saya-kimura-401107.jpg");
    height: 75vh;   
    min-height: 900px;
    position: relative;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.navigation {
    margin-top: 0;
    .container {
        display: flex;  
    }
    .nav-left-button {
        i {
            color: $gold-color;
            font-size: 62px;
            padding: 0 2px;
            position: absolute;
            top: 8px;
            left: -50px;
        }
        a {
            text-decoration: none;
            color: $gold-color;
        }
        li {
            padding: 0 20px;
            position: relative;
        }
        list-style-type: none;
        flex: 1;
        flex-wrap: wrap;
        margin-top: 60px;
        font-family: $font-logo;
        font-size: 60px; 
    }
    .nav-right-buttons {
        a {
            text-decoration: none;
            color: white;
        }
        li {
            padding: 5px 20px;
        }
        display: flex;
        list-style-type: none;
        flex: 3;
        flex-wrap: wrap;
        margin-top: 60px;
        font-size: 16px;
        justify-content: flex-end;
        padding-top: 16px;
        font-family: $font-nav-buttons;
    }
    .nav-right-buttons a:hover {
        transition: 1s;
        color: $gold-color;
    }
    .nav-left-button:hover {
        transition: 0.5s;
        transform: scale(1.2);
    }
}

//Splash Title
.splash {
    display: flex;
    justify-content: center;
    text-align: center;
    min-width: 540px;
    max-height: 450px;
    .splash-inner {
        color: white;
        .page-subtitle {
            font-size: 64px;
            font-family: $font-subtitle;
        }
        .page-title {
            font-size: 84px;
            font-family: $font-title;
        }
        .button-main {
            background-color: $button-color;
            border: 0;
            border-radius: 5px;
            color: white;
            padding: 25px 40px;
            font-size: 24px;
            font-family: $font-text;
            font-weight: bold;
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}
.services {
    .page-main-text {
        font-size: 54px;
        text-align: center;
        font-family: $font-title;
        margin-bottom: 10px;
        i {
            margin-left: 10px;;
        }
    }
    span {
        color: gray;
        font-size: 20px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
        font-family: $font-nav-buttons;
    } 
    .icons-card {
        text-align: center;
    }
    .icons-card i {
        font-size: 46px;
        border: solid 4px;
        padding-top: 16px;
        border-radius: 50%;
        width: 90px;
        height: 90px;
        border-color: $gold-color;
        color: $button-color;
    }
    h3 {
        font-size: 28px;
        font-family: $font-title;
        font-weight: bold;
    }
    p {
        font-size: 18px;
        font-family: $font-nav-buttons;
    }
    
}

.btn {
    cursor: pointer;
}
.btn:hover {
    transition: 1s;
    opacity: 75%;
}
